.images-container {
    background-color: #e4350c;
    border-radius: 5px;
    height: 94vh;
}
.buttons-container {
    margin-top: 30px;
}
@media (min-width: 768px) {
    .buttons-container {
        margin-top: 0;
    }
}
.details-text {
    font-size: 14px;
    line-height: 10px;
}
.back-icon {
    cursor: pointer;
    position: absolute;
    left: 14%;
}
@media (min-width: 768px) {
    .back-icon {
        cursor: pointer;
        position: absolute;
        left: 52%;
    }
}
/* .hr-style {
    background-color: '#c7a10a';
    background-color: red;
} */